{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <h1>Create new Author</h1>

    {{ include('author/_form.html.twig') }}

    <v-btn href="{{ path('author_index') }}">back to list</v-btn>
{% endblock %}
