<template>
    {# wrap everything inside a div-tag, to ensure the dynamic vue-component will always have one root element. #}
    <div>
        {% include '@SymfonyVuetified/layout/_flash_messages.vue.twig' %}
        {% block body %}{% endblock %}
    </div>
</template>

{% block javascripts %}
    {% block script %}{% endblock %}
    {% block vue_script %}
        {% include '@SymfonyVuetified/layout/_vue_script.html.twig' with { set_element: false } %}
    {% endblock %}
{% endblock %}
