{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

    <v-btn href="{{ path('book_index') }}">back to list</v-btn>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
