{% extends 'base.html.twig' %}

{% block body %}
    <p>
        @{ seconds } seconds have past since you've loaded this page.
    </p>
    <p v-if="seconds > 5">
        More than 5 seconds have past.
    </p>
{% endblock %}

{% block script %}
    <script>
        vue = {
            data: () => ({
                seconds: 0,
            }),
            created() {
                setInterval(() => { this.seconds++; }, 1000);
            },
        };
    </script>
{% endblock %}