{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        pre {
            background: #f5f5f5;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>
        Form example
    </h1>
    <p>
        With the <code>vue-form</code> and <code>form-widget</code> components you can take control over your form,
        similar to twig, but with the extra benefits of vue.
    </p>

    {{ vue_data('form', exampleForm) }}


    <vue-form :form="form">
        <v-row>
            <v-col>
                <form-widget :form="form.children.name"></form-widget>
            </v-col>
            <v-col>
                <form-widget  outlined
                              hint="This field is outlined for no good reason"
                              :form="form.children.amount" :disabled="form.children.checkbox.vars.data"></form-widget>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <form-widget :form="form.children.datetime.children.date"></form-widget>
            </v-col>
            <v-col>
                <form-widget :form="form.children.datetime.children.time.children.hour"></form-widget>
            </v-col>
            <v-col>
                <form-widget :form="form.children.datetime.children.time.children.minute"></form-widget>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <form-widget :form="form.children.checkboxChoice" :label="null"></form-widget>
            </v-col>
            <v-col>
                <form-widget :form="form.children.checkbox"></form-widget>
                <form-widget :form="form.children.toggle" color="error"></form-widget>
                <form-widget :form="form.children.radioChoice"></form-widget>
            </v-col>
            <v-col>
                <form-widget :form="form.children.select"></form-widget>
                <form-widget :form="form.children.selectAllowAdd"></form-widget>
                <form-widget :form="form.children.multiple"></form-widget>
            </v-col>
        </v-row>
    </vue-form>
{% endblock %}
