{% extends 'app-base.html.twig' %}
{% use 'menu.vue.twig' %}
{% block appContent %}
    <app>
        <div slot="menu">
            {% block menu %}{{ parent() }}{% endblock %}
        </div>
        {% include 'flash_messages.vue.twig' %}
        {% block body %}{% endblock %}
    </app>
{% endblock %}

{% block javascripts %}
    {% block script %}{% endblock %}
    <script>
        window.vue = Object.assign(
            { delimiters: ['{', '}'] },
            window.vue ?? {}
        );
        window.vueData = {{ get_vue_data() | raw }};
        window.vueStoreData = {{ get_vue_store() | raw }};
    </script>
    {{ parent() }}
{% endblock %}