{% extends 'app-base.html.twig' %}
{% use 'menu.vue.twig' %}
{% block appContent %}
    <app>
        <div slot="menu">
            {% block menu %}{{ parent() }}{% endblock %}
        </div>
        <div slot="before-page">
            <v-breadcrumbs :items="$store.breadcrumbs" divider=">"></v-breadcrumbs>
        </div>
        {% include 'flash_messages.html.twig' %}
    </app>
{% endblock %}

{% block javascripts %}
    {% block script %}{% endblock %}
    <script>
        window.pageVue = Object.assign(
            {
                template: `<div>{{ block('body')|replace({'`' : '\\\`'})|raw }}</div>`,
                delimiters: ['{', '}'],
            },
            typeof window.vue !== 'undefined' ? window.vue : {}
        );
        window.store = {{ get_vue_store() | raw }};
    </script>
    {{ parent() }}
{% endblock %}