<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <h2>Basic Twig in Vue example</h2>
    <p>
        Some content that isn't within vue
    </p>

    {# A macro won't be rendered righ away, so we can call this later #}
    {% macro vue() %}
        <p>
            Some content within vuejs. Seconds = [[ seconds ]]
            <v-textarea></v-textarea>
        </p>
        <strong>My example</strong>
        <p>
            [[ $store.someKey ]]
        </p>
    {% endmacro %}
    <div id="vueApp"></div>

    {% block javascripts %}
{#        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
        {{ encore_entry_script_tags('app') }}
        <script>
            {% set serverSideValues = { someKey: 5 } %}
            Vue.prototype.$store = Vue.observable({{ serverSideValues|json_encode|raw }});
            new Vue({
                el: '#vueApp',
                template: `<div>{{ _self.vue() }}</div>`,
                delimiters: ['[[', ']]'],
                data: () => ({
                    seconds: 0,
                }),
                mounted() {
                    setInterval(() => { this.seconds++; }, 1000);
                },

            });
        </script>
    {% endblock %}
</body>
</html>